#Alert {
  opacity: 0;
  animation: 1s fadeIn 0.2s forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}


.success {
  color: green;
  background-color: rgb(179, 253, 156);
  border: 1px solid green;
  font-size: 15px;
  padding: 10px;
}

.error {
  color: red;
  background-color: rgb(255, 161, 161);
  border: 1px solid red;
  font-size: 15px;
  padding: 10px;
}