#About {
    background: #fff;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(247, 140, 160, 1);
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#About .personal {
    width: 70%;
    line-height: 2;
    padding-bottom: 30px;
}

.title {
    text-decoration: underline #ffef14;
    font-weight: 100;
    padding-bottom: 15px;
    margin: 0;
}

#About .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#About .skills h2 {
    font-weight: 100;
}

#About .skill {
    width: 80%;
    line-height: 2;
    padding: 0 10px;
}