#Experience {
    padding: 25px 0;
    background: linear-gradient(to right, rgba(247, 140, 160, 0.8) 0%, rgba(249, 116, 143, 0.8) 19%, rgba(253, 134, 140, 0.8) 60%, rgba(254, 154, 139, 0.8) 100%), url('../../assets/img/space.jpeg'), no-repeat, center;
    background-size: cover;
    background-attachment: fixed;
}

#Experience .jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#Experience .jobs .job-role .location {
    padding: 12px;
}

#Experience .jobs .job-role h2 {
    font-weight: 100;
}