#Experience {
    padding: 25px 0;
    background: linear-gradient(to right, rgba(247, 140, 160, 0.8) 0%, rgba(249, 116, 143, 0.8) 19%, rgba(253, 134, 140, 0.8) 60%, rgba(254, 154, 139, 0.8) 100%), url('../../assets/img/space.jpeg'), no-repeat, center;
    background-size: cover;
    background-attachment: fixed;
}

#Experience .work {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}

#Experience .work .jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Experience .work .positions {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -100px;
    justify-content: space-around;
}

#Experience .work .positions h3 {
    margin: 0 30px 230px 30px;
    position: relative;
    top: 100px;
    width: 200px;
}

#Experience .work .jobs .section1 {
    margin: 0 100px 150px 100px;
    position: relative;
    top: 50px;
    left: -50px;
    width: 300px;
}

#Experience .work .jobs .section1 p {
    padding: 0;
    margin: 4px;
}

#Experience .work .jobs .section1 .place {
    font-weight: 100;
}

#Experience .work .job-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Experience .work .job-descriptions ul {
    margin: 0 0 60px 50px;
    position: relative;
    top: 30px;
    left: -100px;
    width: 420px;
    line-height: 2;
    font-weight: 100;
}